<head>
<title> Register </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

<div class="container register">
		<form  action="{{ path('Register-submit' ) }}" method="post" >
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Timely return of a loan makes it easier to borrow a second time !</p>
                      <a href="{{path('login-page')}}"> <input type="button" name="" value="Login"/></a> <br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                        </ul> -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register</h3>
                                <div class="row register-form">
                        <!--          'username' => $request->request->get('username'),
                                  'password' => $request->request->get('password'),
                                  'mail' => $request->request->get('mail'),
                                  'address' => $request->request->get('address'),
                                  'name' => $request->request->get('name'),
                                  'WhatsApp' => $request->request->get('WhatsApp'),
                                  'isCreditor' => $request->request->get('isCreditor'),
                                  'isDebtor' => $request->request->get('isDebtor'),
                                  'isGuarantor' => $request->request->get('isGuarantor') -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" id="username" name="username" value="" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name *" value="" id="name" name="name" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="money *" value="" id="money" name="money" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" id="password" name="password" required />
                                        </div>


                                        <div class="form-group">
                                            <div class="maxl">
                                              <div class="form-group">
                                                <div class="row align-items-center remember">
                                                  <input type="checkbox" id="isCreditor" name="isCreditor">  <span>isCreditor </span>
                                                       </div>
                                                <div class="row align-items-center remember">
                                                   <input type="checkbox" id="isDebtor" name="isDebtor"><span>isDebtor  </span>
                                                 </div>
                                                <div class="row align-items-center remember">
                                                   <input type="checkbox" id="isGuarantor" name="isGuarantor"><span>isGuarantor  </span>
                                                </div>
                                              </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" id="mail" name="mail" value="" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="11" maxlength="11"  class="form-control" placeholder="Your Phone *" name="WhatsApp" id="WhatsApp" value="" required />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="address *" value="" id="address" name="address" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
</form>
            </div>
</body>
